<!--
  ~ Created by Gwyn Bong Xiao Min
  ~ Copyright (c) 2021. All rights reserved.
  ~ Last modified 28/5/21 12:59 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntufyp.gbxm.nearbyou">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
